
workshops/course2019Fortaleza/apresentacoes/.ipynb_checkpoints/Untitled-checkpoint.ipynb
workshops/course2019Fortaleza/apresentacoes/.ipynb_checkpoints/workshop2019 analise de dados em R-checkpoint.ipynb
workshops/course2019Fortaleza/tutoriais/.ipynb_checkpoints/Untitled-checkpoint.ipynb
workshops/course2019Fortaleza/lista_participantes.pdf
workshops/course2019Fortaleza/frequencia_2019.12.19.pdf
workshops/course2019Fortaleza/frequencia_2019.12.18.pdf
workshops/course2019Fortaleza/ementa.txt
workshops/course2019Fortaleza/certificado.pdf
workshops/course2019Fortaleza/atividades_alunos/atividades/CursoLabomar2019_Raisa_Silveira_corrigido.docx
workshops/course2019Fortaleza/atividades_alunos/atividades/CursoLabomar2019_Jose_Belquior_corrigido.docx
workshops/course2019Fortaleza/apresentacoes/apresentação_1.pptx
workshops/course2019Fortaleza/apresentacoes/apresentação_2.pptx
workshops/course2019Fortaleza/atividades_alunos/atividades/checklist.txt
workshops/course2019Fortaleza/atividades_alunos/atividades/CursoLabomar2019_Carolina_Bracho_corrigido.docx
workshops/course2019Fortaleza/atividades_alunos/atividades/CursoLabomar2019_Izaira_Nepomuceno_corrigido.docx
workshops/course2019Fortaleza/atividades_alunos/atividades/CursoLabomar2019_Jhones_Lima_corrigido.docx
apresentacoes_dia1/
report_JupiterNotebook_python_yyyy.mm.dd.ipynb
report_JupiterNotebook_R_yyyy.mm.dd.ipynb
report_JupiterNotebook_python_yyyy.mm.dd.ipynb.dd
report_JupiterNotebook_R_yyyy.mm.dd.ipynb.dd
*.ipynb_checkpoints
*.Rproj.user
*.Rproj
*.mp4
.Rproj.user
[environment] R/structural_equation_modeling/reference_materials/presentation_SEM_AGhoeffler2010.10.pptx
[environment] R/structural_equation_modeling/reference_materials/presentation_SEM_AGhoeffler2010.10.pptx
[environment] R/structural_equation_modeling/exercise_hands-on_answers.R
