ementa.txt
apresentação_1.pptx
apresentação_2.pptx
Untitled-checkpoint.ipynb
workshop2019 analise de dados em R-checkpoint.ipynb
frequencia_2019.12.18.pdf
frequencia_2019.12.19.pdf
lista_participantes.pdf
workshops/course2019Fortaleza/imagens
workshops/course2019Fortaleza/atividades_alunos/atividades
certificado.pdf

reference_guide/data_visualization_maps/the_map.svg
reference_guide/data_visualization_maps/sectors/
reference_guide/data_visualization_maps/sectors-pictures/
